/**** Font ******/

@font-face {
  font-family: 'Ppetrial';
  src: url('PPETRIAL.otf'), url('PPETRIAL.ttf');
}

body {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  line-height: 1.8;
}
h1, h2, h3, h4, h5, .section-title, .products-list .product-name, .products-grid .product-name, h3.product-name, .feature .heading, .accordion .heading, #mobnav-trigger, #nav > li > a, #nav.wide ul.level0 > li > a, .vertnav-top li a, .block .block-title, #opc-login h3, .box-account .box-head h2, .order-items h2.table-caption, .order-items h2.sub-title, .order-items .order-comments h2, .product-view .box-reviews dt .heading, .footer .heading, .slide .caption h2, .slide .caption h3, .main-font, .footer-bottom-container, .user-menu, .tweet-posted, .instagram-follow {
  font-family: 'Merriweather Sans', sans-serif !important;
  font-weight: 700;
}
h4, h5, h6, .user-menu {
  font-weight: 300;
}
h5, h6 {
  text-transform: uppercase;
}


.postscript-container {
  background: url(../images/patterns/med-texture.png);
}


.block_home_postscript .grid12-4, .block_home_postscript .grid12-2 {
  margin-bottom: 20px;
}


#nav, .caption, .instagram-follow, .instagram img, .instagram-follow a {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#nav {
  margin-top: 0;
  z-index: 1;
}

.header-container {
  padding-top: 15px;
  position: relative;
  z-index: 9999;
}

.header .logo {
  max-width: 281px;
}

.header-top .item {
  margin-top: 10px;
}

.nav-container {
  /*background-color: #ebebeb;*/
  margin-top: 25px;
}

#nav ul,
#nav .level0-wrapper {
  transition: none;
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: none;
}

#search_mini_form {
  float: right;
  margin-top: 10px;
  width: 300px;
}
#search_mini_form .form-search {
  width: 100%;
  background: transparent;
}
#search_mini_form .form-search .input-text {
  background: transparent;
  border: none;
  border-bottom: 1px dotted #333;
  width: 80%;
  transition: width 0.5s;
  -webkit-transition: width 0.5s;
}
#search_mini_form .form-search .input-text:focus {
  width: 98%;
}
.header .form-search .button {
  background-image: url(../images/img/icons-white.png);
}
#mini-cart .dropdown-toggle .icon-cart {
  background: url(../images/img/cart-white.png) no-repeat center 4px;
}
#mini-cart .dropdown-menu, #mini-cart.open .dropdown-toggle.cover > div {
  background: #333;
}
.header .caret {
  border-top-color: #fff;
}

.main-container {
  position:relative;
  z-index:1000;
}

.caption {
  padding: 15px;
  margin: 2%;
}
.banner .caption {
  margin: 4%;
}
.caption .heading, .caption p {
  padding: 0;
  margin: 0;
}
.caption .heading {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 2.2em;
}
.caption p {
  line-height: 1.4;
  font-size: 1.2em;
}

.caption.light2 {
  background-color: rgba(255, 255, 255, 0.6);
}
a:hover .caption.light2 {
  background-color: rgba(255, 255, 255, 0.8);
}
a:hover .caption.light2 .heading, a:hover .caption.light2 p, .caption.light2 .heading, .caption.light2 p {
  background-color: transparent;
}

.caption.light3 {
  background-color: rgba(255, 255, 255, 0.8);
}
a:hover .caption.light3 {
  background-color: rgba(255, 255, 255, 1);
}
a:hover .caption.light3 .heading, a:hover .caption.light3 p, .caption.light3 .heading, .caption.light3 p {
  background-color: transparent;
}

a .caption span {
  color: #e36031;
}
a:hover .caption span {
  color: #e36031;
}


.slide .caption {
  width: 50%;
}


.instagram-follow {
  background: #74b867;
  padding: 8px;
  cursor: pointer;
}
.instagram-follow:hover {
  background: #456e3d;
}
.instagram-follow a {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  height:  137px;
  color: #fff;
  font-weight: 300;
  padding: 10px 6px;
  text-transform: uppercase;
  font-size: 0.9em;
  border: 1px solid #fff;
  position: relative;
  word-wrap: break-word;
}
.instagram-follow a:hover {
  color: #fff;
}
.instagram-follow a span {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  text-transform: none;
  font-size: 0.9em;
}
.instagram img {
  border: 10px solid #fff;
  -moz-box-shadow:    0 0 4px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  box-shadow:         0 0 4px rgba(0, 0, 0, 0.4);
  -webkit-transition: box-shadow 0.3s ease-in-out;
     -moz-transition: box-shadow 0.3s ease-in-out;
      -ms-transition: box-shadow 0.3s ease-in-out;
       -o-transition: box-shadow 0.3s ease-in-out;
          transition: box-shadow 0.3s ease-in-out;
}

.instagram:hover img {
  -moz-box-shadow:    0 0 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 0px rgba(0, 0, 0, 0.4);
  box-shadow:         0 0 0px rgba(0, 0, 0, 0.4);
}

.home-block {
  color: #333;
}
.home-block:hover {
  color: #222;
}
.home-block img {
  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
       -o-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-transition: opacity 0.15s ease-in-out;
     -moz-transition: opacity 0.15s ease-in-out;
      -ms-transition: opacity 0.15s ease-in-out;
       -o-transition: opacity 0.15s ease-in-out;
          transition: opacity 0.15s ease-in-out;
}
.home-block:hover img {
  opacity:0.9;
}
.home-block p {
  font-size: 1.4em;
  text-align: center;
  margin-bottom: 0;
  margin-top: 1em;
}
.home-block p:before {
  content: "• ";
}
.home-block p:after {
  content: " •";
}

.tweet {
  text-align: center;
}
.tweet-content {
  background: #fff;
  padding: 20px;
}
.tweet-bottom {
  height: 47px;
  width: 100%;
  background: transparent url(../images/tweet-bg.png) no-repeat center bottom;
}
.tweet-posted {
  font-weight: 300;
  text-transform: uppercase;
  color: #918f8f;
  font-size: 0.9em;
  margin-bottom: 0 !important;
}


.footer a:hover {
  color:#d71920;
}

.footer-primary-container {
  padding: 40px 0;
}

.footer-bottom-container {
  border-top: 1px solid #333;
  font-weight: 300;
  text-transform: uppercase;
  padding: 20px 0;
}
.footer-bottom-container span {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  text-transform: none;
}


.footer-bottom-container a {
  text-decoration: underline;
}
.footer-bottom-container a:hover {
  text-decoration: none;
}
.footer-bottom-container span a:hover {
  color: #ff672f !important;
}

.foot_links {text-align: left;}
.footer-copyright { margin: 0; line-height: inherit; float: right;}
.footer-copyright span {
  display: none;
}

.sorter .view-mode .calendar {
  width: 30px;
  height: 30px;
  display:inline-block;
  vertical-align:middle;
  cursor: pointer;
  border: none;
  margin:0 0 0 1px;
  background:url(../images/img/calendar.png) no-repeat transparent 6px 7px;
  text-indent:-9999px;
  overflow:hidden;
}
.sorter .view-mode .calendar:hover, .sorter .view-mode span.calendar {
  background-color: #ddd;
}
.sorter .view-mode span.calendar {
  cursor: default;
}



.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}


.products-list .link-learn {
  display:block;
  margin-top:20px;
}

.product-view .product-img-box .product-image {
  border: none;
}


.calendar-list li {
  float: left;
  display: block;
  width: 14.28%;
  height: 160px;
  position: relative;
}
.calendar-list li div {
  position: absolute;
  bottom: 0;
  height: 124px;
  overflow: auto;
  width:100%;
}

.calendar-list li div::-webkit-scrollbar {
    -webkit-appearance: none;
}

.calendar-list li div::-webkit-scrollbar:vertical {
    width: 11px;
}

.calendar-list li div::-webkit-scrollbar:horizontal {
    height: 11px;
}

.calendar-list li div::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

.calendar-list li.weekday {
  height: 40px;
  line-height: 40px;
}
.calendar-list li span, .calendar-list li a {
  display: block;
  padding: 5px;
  line-height: 1.2;
}
.calendar-list li a {
  font-size:11px;
  float:right;
  width:100px;
  padding:0 5px 0 0;
}
.calendar-list .date-info {
  display: none;
  font-size: 1em;
}
.calendar-list li h5 {
  padding: 10px 5px;
  margin: 0;
  text-transform: none;
}
.calendar-list li span {
  color: #999;
  text-decoration: line-through;
  float:right;
  width:100px;
  padding:0;
}
.calendar-list li h5 span {
  padding: 0;
  color: inherit;
  display: inline;
  font-size: 0.8em;
  text-decoration: none;
  float: none;
}
.calendar-list li.empty {
  background: #ccc;
}
.calendar-list li.past {
  background: #ddd;
}
.calendar-list li.today {
  background: #ffc;
}
.calendar-list li.future {
  background: #fff;
}

.calendar-list .calendar-name { width: 100%; float: left; padding:5px 0 5px 0; }
.calendar-list .calendar-icon { float: left; }

 /* Media Queries */
@media only screen and (max-width: 959px) {
  .calendar-list li a { float:none; width:auto; }
  .calendar-list .calendar-icon { float: left; padding:0 10px 0 0; }
  .calendar-list li span { float:none; width:auto; }
}

.add-to-links a.link-registry { margin-left:3px; }
a.link-registry {
	display:block;
	width:27px;
	height:27px;
	text-indent:-9999em;
	overflow:hidden;
	background:url(../images/img/registry-icon.png) no-repeat;
	background-color:#fff;
  background-position: center;
	border:1px solid #f5f5f5;	
}

a.link-registry:hover { background-color:#fff; /*opacity:1; filter:alpha(opacity=100);*/ }


/* Add-to links as text links with icons
-------------------------------------------------------------- */
.addto-textlink a.link-registry {
	display:block;
	padding:2px 0 2px 19px;
	margin:0 13px 3px 0;
	line-height:15px;
	
	/* Reset default icons style */
	background:url(../images/img/registry-icon.png) no-repeat transparent;
	width:auto;
	height:auto;
	text-indent:0;
	overflow:visible;
	border:none;
	border-radius:0;
	opacity:1;
	filter:alpha(opacity=100);
}

/* return policy toggler */
.event-return-policy-tab-content {
  display: none;
}
.product-event .event-return-policy-tab-content {
  display: block;
}
.product-event .return-policy-tab-content {
  display: none;
}


/* out of stock notification overrides */
.oosn label {
  display: block;
  font-weight: bold;
}
.oosn label, .oosn input, .oosn button {
  margin-top: 10px;
}
.oosn button {
  position: static;
}
.oosn button span span {
  height: 20px;
  line-height: 20px;
}
.product-view .btn-cart span span {
  padding: 5px 10px;
}

  




@media only screen and (max-width: 959px) {
  .calendar-list li {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
  }
  .calendar-list li.past {
    border-bottom: 1px solid #ccc;
  }
  .calendar-list li.weekday, .calendar-list li.empty {
    display: none;
  }
  .calendar-list li div {
    position: static;
    height: auto;
    padding-bottom: 10px;
  }
  .calendar-list li .date-info {
    display: inline;
  }
}


@media only screen and (max-width: 767px) {
.foot_links {text-align: center;}
.footer-copyright{float: none; margin: 15px 0px;}

}

/*******************************/
/******************************/
/***** general ****/
h4, h5, h6, .user-menu {
  font-weight: 400;
}

/*** layout *****/
@media (min-width: 768px) {
  

  /* Grid units without any gutter (margin) */
  .no-gap.grid12-1		{ margin-left:0; margin-right:0; width:8.33%; }
  .no-gap.grid12-2		{ margin-left:0; margin-right:0; width:16.66%; }
  .no-gap.grid12-3		{ margin-left:0; margin-right:0; width:25%; }
  .no-gap.grid12-4		{ margin-left:0; margin-right:0; width:33.33%; }
  .no-gap.grid12-5		{ margin-left:0; margin-right:0; width:41.67%; }
  .no-gap.grid12-6		{ margin-left:0; margin-right:0; width:50%; }
  .no-gap.grid12-7		{ margin-left:0; margin-right:0; width:58.33%; }
  .no-gap.grid12-8		{ margin-left:0; margin-right:0; width:66.67%; }
  .no-gap.grid12-9		{ margin-left:0; margin-right:0; width:75%; }
  .no-gap.grid12-10	{ margin-left:0; margin-right:0; width:83.33%; }
  .no-gap.grid12-11	{ margin-left:0; margin-right:0; width:91.67%; }
  .no-gap.grid12-12,
  .no-gap.grid-full	{ margin-left:0; margin-right:0; width:100%; }
}


/********* header ***********/
.header .logo {
  max-width: 250px;
}
#mini-cart {
 font-family: "Merriweather", serif;
}

#mini-cart .dropdown-menu, #mini-cart.open .dropdown-toggle.cover > div {
  background: #fff;
}
#mini-cart .dropdown-toggle .icon-cart {
  width: 20px;
  height: 20px;
  background: url(../images/img/shopping-basket.png) no-repeat center;
  background-size: 100%;
  transform: translateY(5px);
}

.header .form-search .button {
  background-image: url(../images/img/search-magnifying-glass.png);
  background-size: 100%;
  background-position: center;
  width: 20px;
  height: 20px;
}

.header .caret {
  border-top-color: #333;
}
#nav > li.parent > a {
  padding-right: 35px;
}

#nav > li.parent > a,
#nav > li.parent:hover > a,
#nav > li.parent.active > a {
  background-image: none;
}
.show-separators .links > li > a {
  background-image: none;
  font-family: 'Merriweather', serif;
}
#nav > li > a {
  font-family: "Merriweather" !important;
  text-transform: capitalize;
  font-weight: 400;
}
.nav-container {
  margin-top: 0;
}
#nav {
  margin-left: 0;
}
#nav li a span {
  letter-spacing: 0.05em;
}
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1150px;
  }
}

/********* Home page *******/
body.cms-index-index .main {
  padding-top: 40px;
}

.home-grid {
  /*height: 0;
  padding-bottom: 33%;*/
  overflow: hidden;
  position: relative;

  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  text-rendering: optimizeLegibility !important;

  -webkit-font-smoothing: antialiased !important;

  -moz-osx-font-smoothing: grayscale !important;

}

.home-products > a:nth-of-type(2n+1) {
  clear: left;
}

.home-grid-text {
  color: #333;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300 !important;
  font-family: 'Merriweather', serif !important;
  font-size: 19px;
}
.home-product .home-grid-text {
  top: 40%;
}
.real-food .home-grid-text {
  top: 43%;
}
.home-grid-text .icon {
  width: 65px;
  margin: auto;
}
.home-grid-text h2 {
  font-weight: 300 !important;
  font-family: 'Merriweather', serif !important;

}
.home-grid-text p {
  margin-bottom: 0;
  margin-top: 10px;
}

.home-grid a:not(.button) {
  display: block;
}

.home-grid a:hover .home-grid-text {
  display: block;
}
/*.home-grid.grid12-4 {
  width: 33.3%;
  margin: 0;
}
.home-grid .grid12-6 {
  width: 50%;
  margin: 0;
}*/
/* shop now */
.home-grid .shop-now {
  padding-bottom: 999px;
  background: #474749;
  width: 100%;
  text-align: center;
  color: #fff;
  padding-top: 15%;
}
.home-grid .shop-now h2,
.home-grid .shop-now p {
  font-family: "Ppetrial" !important;
  font-weight: normal;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  text-rendering: optimizeLegibility !important;

  -webkit-font-smoothing: antialiased !important;

  -moz-osx-font-smoothing: grayscale !important;
}
.home-grid .shop-now h2 {
  font-size: 48px;
}
.home-grid .shop-now p {
  font-size: 28px;
  margin: 13px 0;
}
.home-grid .shop-now .button {
  color: #fff;
  text-transform: uppercase;
  padding: 10px 30px;
  border: 1px solid #fff;
  font-family: "Merriweather Sans", sans-serif;

}

/* overview */
.home-grid .home-overview {
  padding: 15% 20px 999px;
  background: #fff;
  font-size: 18px;
}
.home-grid .home-overview a {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #74b867;
  font-family:'Merriweather Sans';
  text-align: center;
  color: #74b867;
  margin-top: 20px;
}
.home-grid .home-overview a:hover {
  color: #608F57;
  border-color: #608F57;
}

.home-products .no-gap.grid12-6 { margin-left:0; margin-right:0; width:50%; }

@media (min-width: 768px) {
  .home-grid-text {
    position: absolute;
    width: 100%;
    top: 38%;
    display: none;
    color: #fff;
  }
  .home-grid a:not(.button) {
    background-color: #222;
  }
  .home-grid a:hover img {
    opacity: 0.2;

  }
  .home-grid a:hover .icon > img {
    opacity: 1;
  }

  /* make logo align with nav */
  .nav-container {
    border-top: 2px solid #333;
  }
  .nav.container #nav {
    width: calc(100% - 280px);
    margin: auto;
    display:block;
    float: right;
  }
  #nav > li:last-of-type {
    float: right;
  }

  .header .logo {
    position: relative;
    top: 27px;
  }
  #mobnav {
    display: none !important;
  }
  #search_mini_form .form-search .input-text {
    border-bottom: none;
  }
  #search_mini_form {
    margin-top: 20px;
  }
}

@media (max-width: 1279px) and (min-width: 768px) {
  .home-overview p {
    font-size: 1.2vw;
  }
  .home-overview a.button {
    font-size: 1.1vw;
    margin-top: 0;
    padding: 10px;
  }
  .home-grid h2 {
    font-size: 3vw;
  }
  .home-grid .shop-now p {
    font-size: 2vw;
  }
  .home-grid .shop-now .icon img {
    width: 30%;
  }

  .home-product .home-grid-text {
    top: 25%;
  }
}

@media (max-width: 767px) {
  .home-grid.grid12-4 {
    width: 80%;
  }
  .home-grid {
    padding-bottom: 0;
    margin: 0 10% 20px;
    height: auto;
  }
  .home-grid .home-product {
    margin-bottom: 10px;
  }
  .home-grid-text {
    font-size: 16px;
  }
}
@media (max-width: 639px) {
  .home-overview a.button {
    margin-top: 0;
  }
  .home-grid h2 {
    font-size: 20px;
    margin-bottom: 0;
  }
  .home-grid p {
    font-size: 14px;
    margin-top: 0;
  }
  .home-grid .shop-now .icon img {
    max-width: 30%;
  }
}
@media (max-width: 479px) {
  .home-grid.grid12-4 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    /*padding-bottom: 99.5%;*/
  }
  .home-overview p,
  .home-overview a.button {
    font-size: 14px;
  }
}

/************* Footer ***********/
.footer-link-buttons a {
  display: inline-block;
  padding: 7px 0;
  width: 31%;
  max-width: 100px;
  border: 1px solid #74b867;
  font-family:'Merriweather Sans';
  text-align: center;
  margin-bottom: 10px;
}
.footer-link-buttons a:hover {
  color: #608F57;
  border-color: #608F57;
}
.footer .grid-full {
  width: 100%;
}
.footer .section-space {
  padding: 0;
}
#subscribe-form label {
  display: none;
}
.footer .contact p {
  margin-bottom: 0;
}
#subscribe-form .button span span {
  font-size: 14px;
  color: #fff;
  background: #333;
  padding: 0 20px;
  height: 35px;
  line-height: 35px;
  font-family: 'Merriweather Sans', sans-serif;
  text-transform: uppercase;
}
#subscribe-form .input-text {
  width: 180px;
  height: 33px;
  line-height: 33px;
}
.footer-newsletter {
  margin-top: 20px;
}
.footer-bottom .float-left,
.footer-bottom .footer-copyright {
  float: none;
  text-align: center;
}
.footer-bottom-container {
  padding: 0;
  border: none;
}
.footer-primary-container {
  border-top: 1px solid #CCCECE;
}
.footer iframe {
  border: 1px solid #6D6E71;
}
.footer-primary-container {
  padding-bottom: 0;
}
@media only screen and (max-width: 1279px) and (min-width: 768px) {
  .footer-link-buttons a {
    font-size: 1.1vw;
  }
}

@media only screen and (max-width: 767px) {
  .footer .grid12-4 {
    margin-bottom: 20px;
  }
  .footer-link-buttons a {
    font-size: 13px;
  }
}